In [21]:
import pandas as pd
import statistics
df1 = pd.read_csv("/root/alpha/git/mine/data_science/data/01JAN/SBIN.csv",header=None)
df = df1[6]
statistics.mean(df)
df #meannn

0      297.50
1      296.30
2      296.35
3      296.35
4      295.65
5      295.60
6      295.90
7      295.70
8      295.60
9      295.80
10     295.40
11     295.55
12     295.40
13     295.20
14     295.55
15     295.75
16     295.75
17     295.50
18     295.60
19     295.00
20     295.15
21     295.05
22     295.40
23     295.40
24     295.60
25     295.40
26     295.35
27     295.45
28     295.35
29     295.35
        ...
363    299.65
364    299.35
365    299.45
366    299.45
367    299.85
368    300.00
369    300.15
370    300.25
371    300.30
372    300.50
373    300.35
374    300.45
375    300.70
376    299.60
377    299.60
378    300.70
379    299.60
380    299.60
381    300.70
382    299.60
383    299.60
384    299.60
385    299.60
386    299.60
387    299.60
388    300.70
389    299.60
390    299.60
391    299.60
392    299.60
Name: 6, Length: 393, dtype: float64

In [22]:
df[2]

296.35